.program_wrapper {
  height: 18rem;
  background-size: cover;
  background-position: center;
  transition: background-image 0.4s ease-in-out, opacity 0.4s ease-in-out;
  position: relative;
}

#program_img_1 {
  background-image: url('../../assets/program_1.png');
}

#program_img_1:hover {
  background-image: linear-gradient(rgba(8, 0, 58, 0.4), rgba(8, 0, 58, 0.4)), url('../../assets/program_1.png');
}

#program_img_2 {
  background-image: url('../../assets/program_2.png');
}

#program_img_2:hover {
  background-image: linear-gradient(rgba(8, 0, 58, 0.4), rgba(8, 0, 58, 0.4)), url('../../assets/program_2.png');
}

#program_img_3 {
  background-image: url('../../assets/program_3.png');
}

#program_img_3:hover {
  background-image: linear-gradient(rgba(8, 0, 58, 0.4), rgba(8, 0, 58, 0.4)), url('../../assets/program_3.png');
}

.programIcon,
.caption-text {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.program_wrapper:hover .programIcon,
.program_wrapper:hover .caption-text {
  opacity: 1;
}

#campus_img_1 {
  background-image: url('../../assets/campus_img_1.png');
}

#campus_img_2 {
  background-image: url('../../assets/campus_img_2.png');
}

#campus_img_3 {

  background-image: url('../../assets/campus_img_3.png');
}

#campus_img_4 {
  background-image: url('../../assets/campus_img_4.png');
}


@media screen and (max-width: 840px) {
  #campus-imgs {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: 1.3rem;
  }
}